@font-face {
    font-family: GraublauWeb;
    src: url("../fonts/GraublauWeb.otf");
    src: url("../fonts/GraublauWeb.otf") format("opentype");
}

a {
    text-decoration: none;
    color: #2277BB;
}

a:hover {
    text-decoration: underline;
    color: #2277BB;
}

a img {
    border: 0;
	padding: 2px;
}
p {
    margin: 0 0 16px;
}

ul {
    margin: 0 0 22px 13px;
    list-style: none outside none
}

body {
    background-image: url("../img/bg.jpg");
    background-repeat: repeat;
    color: #333333;
    padding: 0;
    margin: 0;
    height: 100%;
    font: 16px/24px 'Helvetica Neue',Helvetica,Sans-Serif;
    text-shadow: 1px 1px 1px #FFFFFF;
}

h1 {
    font-family: GraublauWeb;
    font-size: 74px;
    padding-top: 27px;
    padding-left: 15px;
    white-space: nowrap;
    font-weight: normal;
}

h2 {
    font-family: GraublauWeb;
    font-size: 44px;
    white-space: nowrap;
    font-weight: normal;
}

h3 {
    font-family: GraublauWeb;
    font-size: 22px;
    padding-left: 15px;
    white-space: nowrap;
    font-weight:normal;
}

#header {
    background-color: #0F0F0F;
    border-bottom: 3px solid #8B4513;
    color: #555555;
    padding: 15px;
    padding-left: 10px;
    position: relative;
    left: 0;
    top: 0;
    height: 25px;
}

#menu {
    margin: 0 auto;
    width: 450px;
    text-align: center;
    padding-bottom: 20px;
}

#menu li {
    display: block;
    float: left;
}

#menu a {
    border: 1px solid transparent;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #2277BB;
    display: block;
    font-family: myriad-pro-condensed-1, myriad-pro-condensed-2, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
    font-size: 20px;
    margin-left: 15px;
    padding: 5px 10px;
    text-decoration: none;
}

#menu a:hover, #menu li.menu-active a {
    background: #D1E1E6 url("../img/gradient.png") bottom left repeat-x;
    border-color: #b3b3b3;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#menu li.menu-highlight a {
    background: #DDCD6F url("../img/gradient.png") bottom left repeat-x;
    border: 1px solid #99821F;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}
#menu li.menu-highlight a:hover {
    background-color: #F2DE7C;
}

#content_index {
    text-align: center;
    padding-top: 35px;
}

.project {
    border-bottom: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.project_desc {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.project_demo {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font: 24px Arial,Sans-Serif;
}
.project_dl {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font: 24px Arial,Sans-Serif;
}

.project_dl img {
    border: 1px solid #2277BB;
}

.project_dl img:hover {
    border: 1px solid #2277BB;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

#footer {
    border-top: 2px solid #2277BB;
    color: #85998F;
    font-size: 14px;
    text-shadow: 1px 1px 1px #FFFFFF;
    margin-top: 30px;
    padding: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}


/* CV */

.wrap {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#infos {
    font-family: GraublauWeb;
    font-size: 32px;
    padding-left: 15px;
    padding-bottom: 30px;
    white-space: nowrap;
    color: #2277BB;
}
#cv_content{
    float: left;
    margin: 40px auto 60px;
    padding-top: 20px;
    padding-left: 20px;
    width: 1100px;
}

.cv_category_title {
    float: left;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    height: 90px;
    text-align: right;
    width: 150px;
}

.cv_category_content {
    float: right;
    width: 870px;
    border-left: 1px solid #999999;
    padding: 0 0 0 45px;
}

.cv_category_subtitle {
    font-size: 20px;
    margin: 0 0 6px;
    position: relative;
    font-weight: bold;
}

.cv_clear {
    padding-top: 85px;
    clear: both;
}

.m {
    display: none;
}
